* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: impact, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', tahoma, 'arial narrow', sans-serif;
}

:root {
    --grisoscuro: rgb(69, 69, 71);
    --azulclaro: rgb(107, 231, 240);
}

header {
    background-color: var(--grisoscuro);
    width: 100vw;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: right;
    flex: 0 0 30%;
    font-size: 250%;
    padding: 0.2em;
}

#main-links {
    flex: 0 0 40%;
    text-align: right;
    margin: 0% 5%;
}

#main-links li {
    color: var(--azulclaro);
    display: inline-block;
    font-size: 143.75%;
    margin: 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--azulclaro)
}

.section-links:visited, .section-links:focus, .section-links:link {
    color: var(--azulclaro);
    text-decoration: none;
}

#ribbon {
    width: 100vw;
    height: 240px;
    background-image: url("../images/web-development-agency.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#ribbon h2 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: center;
    flex: 0 0 22%;
    font-size: 187.5%;
    margin: 1.5% 5%;
    padding: 0.2em;
}

#about-me {
    background-color: white;
    width: 100vw;
    height: 240px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#about-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 250%;
    padding: 0.5%;
}

#about-me p {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 64%;
    width: 60%;
    text-align: justify;
    font-size: 112.5%;
    line-height: 1.5;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
}

#work {
    background-color: white;
    width: 100vw;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#work h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 250%;
    padding: 0.5%;
}

#apps {
    background-color: white;
    flex: 0 0 64%;
    width: 60%;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#weather-dashboard {
    background-image: url("../images/weather-dashboard-displayed-info.png");
    background-position: unset;
    background-size: 100%;
    flex: 0 0 100%;
    height: 50%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 1;
    position: relative;
}

#safe-trip-planner {
    background-image: url("../images/safe-trip-planner.png");
    background-position: unset;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 3;
    position: relative;
}

#password-generator {
    background-image: url("../images/03-javascript-homework-demo.png");
    background-position: unset;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 5;
    position: relative;
}

#work-day-scheduler {
    background-image: url("../images/work-day-scheduler.png");
    background-position: unset;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 4;
    position: relative;
}

#coding-quiz {
    background-image: url("../images/coding-quiz-challenge.png");
    background-position: unset;
    background-size: 100%;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 2;
    position: relative;
}

#principal-app {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 20%;
    padding: 0.5%;
    margin: 0% 0% 3% 0%;
    z-index: 100;
}

.other-apps {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 42%;
    padding: 1%;
    margin: 0% 0% 6%;
    z-index: 100;
}

#principal-app h3, .other-apps h3 {
    font-size: 156.25%;    
}

#principal-app h5, .other-apps h5 {
    font-size: 93.75%;
}

.flex-items::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: gray;
    opacity: 0.8;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.flex-items:hover::after {
    opacity: 0.0;
}

.flex-items:hover {
    cursor: pointer;
}

.flex-items:visited, .flex-items:focus, .flex-items:link {
    color: var(--grisoscuro);
    text-decoration: none;
}

#contact-me {
    background-color: white;
    color: var(--grisoscuro);
    width: 100vw;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#contact-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 27%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 250%;
    padding: 0.5%;
}

#footer-links {
    background-color: white;
    flex: 0 0 65%;
    width: 65%;
    margin: 0% 5% 0% 0%;
    text-align: center;
    align-self: center;
}

#footer-links li {
    color: var(--grisoscuro);
    display: inline-block;
    font-size: 143.75%;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--grisoscuro);
}

.contact-links:visited, .contact-links:focus, .contact-links:link {
    color: var(--grisoscuro);
    text-decoration: none;
}

@media screen and (max-width: 1024px){

    header #main-links {
        flex: 0 0 60%
    }
    
    #ribbon {
        height: 120px;
    }
    
    #ribbon h2 {
        flex-basis: 30%;
    }

    #about-me {
        height: 384px;
    }

    #work {
        height: 480px;
    }

    #safe-trip-planner, #password-generator, #work-day-scheduler, #coding-quiz {
        flex: 0 0 47%;
    }

    #principal-app {
        width: 31%;
    }
    
    .other-apps {
        width: 66%;
    }

    #footer-links {
        flex: 0 0 65%;
    }

}

@media screen and (max-width: 768px){

    header #main-links {
        flex: 0 0 50%
    }
    
    #ribbon {
        height: 160px;
    }
    
    #ribbon h2 {
        flex-basis: 40%;
    }

    #about-me {
        height: 350px;
    }

    #work {
        height: 480px;
    }

    #safe-trip-planner, #password-generator, #work-day-scheduler, #coding-quiz {
        flex: 0 0 47%;
    }

    #principal-app {
        width: 31%;
    }
    
    .other-apps {
        width: 66%;
    }

    #footer-links {
        flex: 0 0 65%;
    }

}

@media screen and (max-width: 650px){

    header, #ribbon, #about-me, #work, #apps, #contact-me, .flex-items {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    header {
        height: 165px;
    }

    header h1, header #main-links {
        width: 100%;
        text-align: center;
        padding: 0%;
        margin: 0%;
        flex: 0 0 0%;
    }

    #ribbon {
        height: 200px;
        margin-bottom: 5%;
    }

    #ribbon h2 {
        width: 100%;
        margin: 0%;
        padding: 0%;
        flex: 0 0 0%;
    }

    #about-me {
        height: 475px;
        margin-bottom: 5%;
    }

    #about-me h1, #work h1, #contact-me h1 {
        width: 100%;
        flex: 0 0 0%;
        text-align: center;
        border-right: none;
        border-bottom: solid 4px var(--grisoscuro);
        padding: 0%;
        margin-bottom: 2%;
    }

    #about-me h1 br, #contact-me h1 br {
        display: none;
    }

    #about-me p {
        flex: 0 0 0%;
        width: 95%;
        margin:0%;
        padding: 2.5%;
    }

    #work {
        height: 960px;
        margin-bottom: 5%;
    }

    #apps {
        width: 100%;
        flex: 0 0 0%;
        margin-right: 0%;
        padding: 0%;
        gap: 4%;
    }

    #weather-dashboard, #safe-trip-planner, #password-generator, #work-day-scheduler, #coding-quiz {
        width: 90%;
        flex: 0 0 50%;
        justify-content: flex-end;
    }

    #principal-app {
        width: 100%;
        margin: 0%;
    }

    .other-apps {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    #contact-me {
        height: 320px;
    }

    #footer-links {
        width: 100%;
        flex: 0 0 0%;
        margin: 0%;
    }
    
    #footer-links li {
        display: block;
        border: none;
    }

}

@media screen and (max-width: 414px){

    header {
        height: 184px;
    }

    #ribbon {
        height: 200px;
    }

    #about-me {
        height: 528px;
    }

    #work {
        height: 984px;
    }

    #contact-me {
        height: 320px;
    }

}

@media screen and (max-width: 375px){

    header {
        height: 200px;
    }

    #ribbon {
        height: 200px;
    }

    #about-me {
        height: 656px;
    }

    #work {
        height: 1056px;
    }

    #contact-me {
        height: 360px;
    }

}

@media screen and (max-width: 300px){

    header {
        height: 180px;
    }

    #ribbon {
        height: 200px;
    }

    #about-me {
        height: 900px;
    }

    #work {
        height: 824px;
    }

    #contact-me {
        height: 300px;
    }

}