* {
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --grisoscuro: rgb(59, 60, 73);
    --azulclaro: lightskyblue;
}

header {
    background-color: var(--grisoscuro);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: right;
    flex-basis: 30%;
    font-size: 40px;
    padding: 0.2em;
}

#main-links {
    flex-basis: 40%;
    text-align: right;
    margin: 0% 5%;
}

#main-links li {
    color: var(--azulclaro);
    display: inline-block;
    font-size: 23px;
    margin: 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--azulclaro)
}

.section-links:visited, .section-links:focus, .section-links:link {
    color: var(--azulclaro);
    text-decoration: none;
}

#ribbon {
    width: 100vw;
    height: 30vh;
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/web-development-agency.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#ribbon h2 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: center;
    flex-basis: 17%;
    font-size: 30px;
    margin: 1.5% 5%;
    padding: 0.2em;
}

#about-me {
    background-color: white;
    width: 100vw;
    height: 35vh;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

#about-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 80%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#about-me p {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 40%;
    width: 60%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
}

#work {
    background-color: white;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

#work h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 95%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#apps {
    background-color: white;
    flex: 0 0 95%;
    width: 60%;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#css-cheat-sheet {
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/css-snippet-cheat-sheet.png");
    background-position: cover;
    background-size: 50%;
    flex: 0 0 99%;
    height: 50%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#html5 {
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/html-background.jpeg");
    background-position: cover;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#css3 {
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/css-background1.jpeg");
    background-position: center;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#version-control-system {
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/git-background.jpeg");
    background-position: cover;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#landing-page {
    background-image: url("/Users/josevidmal/Documents/ITESM-Coding-Bootcamp/sessions/week-2/u2-hw-advanced-css-portfolio/assets/images/landing-page.png");
    background-position: right;
    background-size: 80%;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#principal-app {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 17%;
    padding: 0.5%;
    margin: 0% 0% 3% 0%;
    z-index: 100;
}

.other-apps {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 36%;
    padding: 1%;
    margin: 0% 0% 6%;
    z-index: 100;
}

#principal-app h3, .other-apps h3 {
    font-size: 25px;    
}

#principal-app h5, .other-apps h5 {
    font-size: 15px;
}

.flex-items::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: gray;
    opacity: 0.8;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.flex-items:hover::after {
    opacity: 0.0;
}

.flex-items:hover {
    cursor: pointer;
}

#contact-me {
    background-color: white;
    color: var(--grisoscuro);
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

#contact-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 70%;
    width: 27%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#contact-links {
    background-color: white;
    height: 35%;
    width: 60%;
    margin: 0% 5% 0% 0%;
    text-align: center;
}

#contact-links li {
    color: var(--grisoscuro);
    display: inline-block;
    font-size: 23px;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--grisoscuro);
}

