* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --grisoscuro: rgb(59, 60, 73);
    --azulclaro: lightskyblue;
}

header {
    background-color: var(--grisoscuro);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: right;
    flex: 0 0 30%;
    font-size: 40px;
    padding: 0.2em;
}

#main-links {
    flex: 0 0 40%;
    text-align: right;
    margin: 0% 5%;
}

#main-links li {
    color: var(--azulclaro);
    display: inline-block;
    font-size: 23px;
    margin: 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--azulclaro)
}

.section-links:visited, .section-links:focus, .section-links:link {
    color: var(--azulclaro);
    text-decoration: none;
}

#ribbon {
    width: 100vw;
    height: 30vh;
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/web-development-agency.jpeg?raw=true");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#ribbon h2 {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    text-align: center;
    flex: 0 0 17%;
    font-size: 30px;
    margin: 1.5% 5%;
    padding: 0.2em;
}

#about-me {
    background-color: white;
    width: 100vw;
    height: 30vh;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#about-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#about-me p {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 64%;
    width: 60%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
}

#work {
    background-color: white;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#work h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 28%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#apps {
    background-color: white;
    flex: 0 0 64%;
    width: 60%;
    padding: 0.25% 0.5%;
    margin: 0% 5% 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#css-cheat-sheet {
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/css-snippet-cheat-sheet.png?raw=true");
    background-position: cover;
    background-size: 50%;
    flex: 0 0 100%;
    height: 50%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 1;
    position: relative;
}

#html5 {
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/html-background.jpeg?raw=true");
    background-position: cover;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 3;
    position: relative;
}

#css3 {
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/css-background1.jpeg?raw=true");
    background-position: center;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 5;
    position: relative;
}

#version-control-system {
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/git-background.jpeg?raw=true");
    background-position: cover;
    background-size: cover;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 4;
    position: relative;
}

#landing-page {
    background-image: url("https://github.com/josevidmal/u2-hw-advanced-css-portfolio/blob/main/assets/images/landing-page.png?raw=true");
    background-position: right;
    background-size: 80%;
    flex: 0 0 48%;
    height: 21%;
    border: solid 4px var(--azulclaro);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 2;
    position: relative;
}

#principal-app {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 17%;
    padding: 0.5%;
    margin: 0% 0% 3% 0%;
    z-index: 100;
}

.other-apps {
    background-color: var(--azulclaro);
    color: var(--grisoscuro);
    width: 36%;
    padding: 1%;
    margin: 0% 0% 6%;
    z-index: 100;
}

#principal-app h3, .other-apps h3 {
    font-size: 25px;    
}

#principal-app h5, .other-apps h5 {
    font-size: 15px;
}

.flex-items::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: gray;
    opacity: 0.8;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.flex-items:hover::after {
    opacity: 0.0;
}

.flex-items:hover {
    cursor: pointer;
}

.flex-items:visited, .flex-items:focus, .flex-items:link {
    color: var(--grisoscuro);
    text-decoration: none;
}

#contact-me {
    background-color: white;
    color: var(--grisoscuro);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 3% 0%;
}

#contact-me h1 {
    background-color: white;
    color: var(--grisoscuro);
    flex: 0 0 30%;
    width: 27%;
    border-right: solid 4px var(--grisoscuro);
    text-align: right;
    font-size: 40px;
    padding: 0.5%;
}

#footer-links {
    background-color: white;
    flex: 0 0 65%;
    width: 65%;
    margin: 0% 5% 0% 0%;
    text-align: center;
    align-self: center;
}

#footer-links li {
    color: var(--grisoscuro);
    display: inline-block;
    font-size: 23px;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0em 0.5em;
    border-bottom: solid 5px var(--grisoscuro);
}

.contact-links:visited, .contact-links:focus, .contact-links:link {
    color: var(--grisoscuro);
    text-decoration: none;
}

@media screen and (max-width: 1024px){

    header #main-links {
        flex: 0 0 60%
    }
    
    #ribbon {
        height: 15vh;
    }
    
    #ribbon h2 {
        flex-basis: 30%;
    }

    #about-me {
        height: 48vh;
    }

    #work {
        height: 60vh;
    }

    #html5, #css3, #version-control-system, #landing-page {
        flex: 0 0 47%;
    }

    #principal-app {
        width: 31%;
    }
    
    .other-apps {
        width: 66%;
    }

    #footer-links {
        flex: 0 0 65%;
    }

}

@media screen and (max-width: 768px){

    header #main-links {
        flex: 0 0 50%
    }
    
    #ribbon {
        height: 20vh;
    }
    
    #ribbon h2 {
        flex-basis: 30%;
    }

    #about-me {
        height: 40vh;
    }

    #work {
        height: 60vh;
    }

    #html5, #css3, #version-control-system, #landing-page {
        flex: 0 0 47%;
    }

    #principal-app {
        width: 31%;
    }
    
    .other-apps {
        width: 66%;
    }

    #footer-links {
        flex: 0 0 65%;
    }

}

@media screen and (max-width: 540px){

    header, #ribbon, #about-me, #work, #apps, #contact-me, .flex-items {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    header {
        height: 18vh;
    }

    header h1, header #main-links {
        width: 100%;
        text-align: center;
        padding: 0%;
        margin: 0%;
        flex: 0 0 0%;
    }

    #ribbon {
        height: 25vh;
        margin-bottom: 5%;
    }

    #ribbon h2 {
        width: 100%;
        margin: 0%;
        padding: 0%;
        flex: 0 0 0%;
    }

    #about-me {
        height: 54vh;
        margin-bottom: 5%;
    }

    #about-me h1, #work h1, #contact-me h1 {
        width: 100%;
        flex: 0 0 0%;
        text-align: center;
        border-right: none;
        border-bottom: solid 4px var(--grisoscuro);
        padding: 0%;
        margin-bottom: 2%;
    }

    #about-me h1 br, #contact-me h1 br {
        display: none;
    }

    #about-me p {
        flex: 0 0 0%;
        width: 95%;
        margin:0%;
        padding: 2.5%;
    }

    #work {
        height: 120vh;
        margin-bottom: 5%;
    }

    #apps {
        width: 100%;
        flex: 0 0 0%;
        margin-right: 0%;
        padding: 0%;
        gap: 4%;
    }

    #css-cheat-sheet, #html5, #css3, #version-control-system, #landing-page {
        width: 90%;
        flex: 0 0 50%;
        justify-content: flex-end;
    }

    #principal-app {
        width: 100%;
        margin: 0%;
    }

    .other-apps {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    #contact-me {
        height: 40vh;
    }

    #footer-links {
        width: 100%;
        flex: 0 0 0%;
        margin: 0%;
    }
    
    #footer-links li {
        display: block;
        border: none;
    }

}

@media screen and (max-width: 414px){

    header {
        height: 23vh;
    }

    #ribbon {
        height: 25vh;
    }

    #about-me {
        height: 66vh;
    }

    #work {
        height: 118vh;
    }

    #contact-me {
        height: 40vh;
    }

}

@media screen and (max-width: 375px){

    header {
        height: 25vh;
    }

    #ribbon {
        height: 25vh;
    }

    #about-me {
        height: 82vh;
    }

    #work {
        height: 125vh;
    }

    #contact-me {
        height: 45vh;
    }

}

@media screen and (max-width: 320px){

    header {
        height: 30vh;
    }

    #ribbon {
        height: 25vh;
    }

    #about-me {
        height: 105vh;
    }

    #work {
        height: 148vh;
    }

    #contact-me {
        height: 50vh;
    }

}